:root {
    --text: #1c1917;
    --text-muted: #443d3d;
    --background: #f6f6f3;
    --primary: #ea580c;
}

/***********
* GENERICS 
***********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    min-height: 100vh;
    color: var(--text);
    background-color: var(--background);
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

.container {
    width: min(100% - 2rem, 100rem);
    margin-inline: auto;
}
/***********
* CABECHALHO
***********/
body > header {
    background-color: #e9e4e4;
    border-bottom: 1px solid var(--text);
    padding-block: 1rem;
    position: sticky;
    top: 0;
    z-index: 100;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header .brand {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

header .brand img {
    height: 3rem;
}

header .brand h1 {
    font-size: clamp(1.25rem, 5vw, 1.75rem);
    font-weight: 700;
    line-height: 1.05;
    letter-spacing: -0.5px;
}

header .brand p {
    display: none;
    margin-top: 2px;
    font-size: 0.8rem;
    color: var(--text-muted);
}

header .cart-button {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    border: 1px solid var(--text);
    width: 2.75rem;
    height: 2.75rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;
}

header .cart-button img {
    width: 1.25rem;
    height: 1.25rem;
}

/***********
* NAVEGAÇÃO
***********/
nav {
    background-color: #e9e4e4;
    border-bottom: 1px solid var(--text-muted);
    padding-block: 0.5rem;
    overflow: hidden;
    position: sticky;
    top: 5rem;
    z-index: 100;

}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
    gap: .5rem;
    padding-block: 1rem;
    overflow: hidden;
    overscroll-behavior-inline: contain;
    scrollbar-width: thin;
}
nav ul li {
    flex: 0 0 auto;
}

nav ul a {
    display: block;
    padding: 0.5rem 1rem;
    border: 1px solid var(--text);
    border-radius: 100rem;
    text-decoration: none;
    color: var(--text-muted);
    font-size: 0.875rem;
    font-weight: 500;
}
nav ul a:not(.active):hover {
    border-color: var(--primary);
    color: var(--primary);
}

nav ul a.active {
    border-color: var(--primary);
    background-color: var(--primary);
    color: var(--background);
}

/***********
* MAIN  
***********/

main {
    padding-block: 1.5rem;
    display: grid;
    gap: 2rem;
    width: min(100% - 2rem, 100rem);
    margin-inline: auto;
}

main > section {
    display: grid;
    gap: 1.25rem;
    grid-template-columns: minmax(0, 1fr);
    align-items: start;
}

main > section header {
    display: flex;
    grid-column: 1 / -1;
    align-items: center;
    justify-content: space-between;
    padding-block: 0.5rem;
}

main > section header .header-info {
    text-align: right;
}

main > section header h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

main > section header p {
    font-size: 0.875rem;
    color: var(--text-muted);
}

main > section article {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.5rem;
    border: 1px solid var(--text);
    box-shadow: 0 2px 8px rgba(36, 33, 31, 0.07);
    border-radius: 0.75rem;
    overflow: hidden;
}

section article figure {
    position: relative;
    grid-column: 1 / -1;
    aspect-ratio: 16 / 10;
}

section article figure img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}
section article figure figcaption {
    background-color: var(--primary);
    color: var(--background);
    font-size: 0.6rem;
    text-transform: lowercase;
    padding-inline: 0.5rem;
    padding-block: 0.2rem;
    border-radius: 0.5rem;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    overflow: hidden;
}

section article h3,
section article p {
    grid-column: 1 / -1;
    padding-inline: 0.5rem;
}

section article h3 {
    padding-top: 1rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25rem;
}

section article p:first-of-type {
    padding-top: 0.5rem;
    font-size: 0.75rem;
    line-height: 1.3rem;
    color: var(--text-muted);
}

section article p:last-of-type {
    grid-column: auto;
    padding-block: 1rem;
    align-self: center;
    font-size: 1.25rem;
    font-weight: 800;
    color: var(--primary);
}

section article button {
    grid-column: auto;
    align-self: center;
    margin-inline-end: 0.5rem;
    background-color: var(--primary);
    color: var(--background);
    font-size: 0.875rem;
    font-weight: 500;
    padding: 0.6rem 1.25rem;
    border: none;
    cursor: pointer;
    border-radius: 100rem;
}

/*************
* SIDEBAR
**************/ 

main aside {
    border: 1px solid var(--text);
    box-shadow: 0 10px 26px rgba(36, 33, 31, 0.08);
    border-radius: 0.8rem;
    background-color: var(--background);
    align-self: start;
    order: -1;
}
main aside h2 {
    font-size: 1.25rem;
    padding: 1rem;
    border-bottom: 1px solid var(--text);
}
main aside .cart-empty{
    text-align: center;
    padding-block: 2rem;
}
main aside .cart-empty p:first-of-type {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--text);
    margin-top: 0.6rem;
}
main aside .cart-empty p:last-of-type {
    font-size: 0.75rem;
    color: var(--text--muted);
    margin-top: 0.25rem;
}

/***********
* FOOTER
***********/
footer {
    background-color: var(--text-muted);
    color: var(--background);
    font-size: 0.875rem;
    font-weight: 300;
    margin-top: 2rem;
    padding-block: 1.5rem;
}

footer .container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

/***********
* RESPONSIVITY
***********/
/*Mobile*/
@media (min-width: 30rem) {
    header .brand p {
        display: block;
    }
    header .cart-button {
        width: 3.25rem;
        height: 2.625rem;
    }
}

/*Tablet*/
@media (min-width: 48rem) {
    main section{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    footer .container {
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        justify-content: space-between;
    }
}

/*Desktop*/
@media (min-width: 64rem) {
    main {
        grid-template-columns: minmax(0, 1fr) 330px;
    }
    main aside{
        order: 0;
        grid-column: 2;
    }
    main section{
        grid-column: 1;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    footer .container {
        flex-direction: row;
        justify-content: space-between;
    }
}
